* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --Black: rgb(39, 42, 49);
  --Orange: #ec5242;
  --White: #fff;
  --Grey: rgb(65, 66, 70);
}

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.display-none { display: none; }
.no-scroll { overflow: hidden; }
.margin-top { margin-top: 10vw; }

.display-flex-row {
  display: flex;
  flex-direction: row;
}

.display-flex-column {
  display: flex !important;
  flex-direction: column;
}

button {
  cursor: pointer;
}


/* Navbars  */
nav {
  background-color: #fff;
  width: 100%;
}

.nav ul,
.secondary-nav ul {
  list-style: none;
}


/* Primary Navbar  */
.nav {
  display: flex;
  position: relative;
}

#logo {
  width: 40%;
  order: 2;
  margin: 0 auto;
  padding: 1rem;
}

.footer-logo {
  width: 20%;
  max-width: 20rem;
}

footer img { width: 100%; }

.speaker-image-container img {
  width: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
}

#logo img {
  width: 100%;
}

.open-menu-icon,
.close-menu-icon {
  font-size: 2rem;
  position: absolute;
  left: 1.4rem;
  top: 1rem;
  order: 1;
}

.nav-link {
  color: var(--Orange);
  font-weight: 600;
}

/* Main  */
.section-header {
  font-weight: 400;
  text-align: center;
}

/* Intro  */
#intro {
  display: flex;
  flex-direction: column;
  background-image:
    linear-gradient(
      180deg,
      rgba(211, 211, 211, 0.2),
      rgba(211, 211, 211, 1)
    ),
    url(../images/bg-main.jpg);
  background-size: cover;
  padding: 10vw 0 10vw 0;
}

#intro h1,
.intro-note,
.intro-info,
.content-container,
.see-more-btn {
  width: 90%;
  margin: 0.5rem auto;
}

#intro .section-header {
  text-align: unset;
  color: var(--Orange);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#intro h1 {
  font-weight: 900;
  font-size: 3rem;
  text-transform: uppercase;
  background-image: url(../images/afro-bg.png);
  background-size: cover;
  -webkit-background-clip: text;
  color: rgba(236, 82, 66, 0.6);
}

.intro-note {
  border: 0.2rem solid #f8f8f8;
  padding: 0.8rem;
  color: var(--Grey);
  font-weight: 350;
}

.intro-info {
  color: var(--Grey);
}

.intro-info .date {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5rem;
}

/* Main Program  */
#main-program {
  display: flex;
  flex-direction: column;
  background-image: url(../images/diamond.png);
  background-color: var(--Black);
}
#main-program .section-header { color: var(--White); }

.program {
  display: flex;
  align-items: center;
  background-color: rgba(65, 66, 70, 0.4);
  justify-content: space-between;
  padding: 1rem 2.5%;
  margin: 0.5rem 0;
}

.program-icon {
  width: 20%;
  font-size: 2.5rem;
  color: #d3d3d3;
}

.program-header {
  width: 20%;
  color: var(--Orange);
  font-size: 0.8rem;
  text-align: center;
}

.program-note {
  width: 55%;
  color: var(--White);
  font-size: 0.7rem;
  line-height: 1.4rem;
  text-align: center;
}

.program-icon,
.program-header,
#main-program .section-header,
#main-program button,
.see-more-btn {
  display: flex;
  justify-content: center;
}

#main-program button {
  background-color: var(--Orange);
  padding: 1rem;
  color: var(--White);
  border: none;
  font-size: 1rem;
  font-weight: 600;
  width: 70%;
  align-self: center;
}

/* Speakers  */
.speaker {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.speaker-info-container {
  width: 70%;
  padding-left: 1rem;
}

.speaker-image-container {
  width: 25vw;
  height: 25vw;
  max-width: 14rem;
  max-height: 14rem;
  background-image: url(../images/speaker-bg.png);
  background-size: 50%;
  background-position: top left;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  padding: 0 2rem 0 0;
}

.speaker-about { font-size: 0.8rem; }

.speaker-info-container .positions {
  font-style: italic;
  color: var(--Orange);
  font-size: 0.63rem;
  line-height: 0.9rem;
  font-weight: 700;
}

.speaker-name {
  font-size: 0.938rem;
}

.see-more-btn {
  padding: 1rem;
  font-size: 0.7rem;
  font-weight: 700;
  background-color: var(--White);
  border-radius: 0.4rem;
  border: 0.1px solid #d3d3d3;
  margin-top: 1rem;
}

.see-more-btn span {
  color: var(--Orange);
  margin-left: 0.3rem;
  display: flex;
  align-items: center;
}

.see-more {
  display: none;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin: 0.3rem auto 0.3rem 0;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  width: 10%;
}

/* Partners  */
#partners {
  background-color: var(--Grey);
  padding: 5vw 0;
}

#partners .section-header {
  color: var(--White);
}

footer .content-container {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

#partners .content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#partners img {
  /* max-width: 200px; */
  height: 40%;
  margin: 1rem 0;
}

/* Footer  */
footer {
  padding: 1rem 0;
}

.footer-note {
  font-size: 1rem;
  margin-left: 2rem;
}

.hr-section {
  width: 40px;
  margin: auto;
  margin-top: 10px;
  border-color: var(--Orange);
  margin-bottom: 1.8rem;
}

@media only screen and (max-width: 767.9px) {
  .secondary-nav,
  .menu-items,
  .nav-btn { display: none; }

  .menu-items {
    height: 70vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
    justify-content: center;
  }

  .nav-item {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2rem;
  }

  .nav-item:hover {
    background-color: #272a31;
  }

  .nav-item:hover .nav-link {
    color: #fff;
  }

  #main-program button {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-weight: 700;
    line-height: 1.75rem;
  }
  main { margin-top: 5rem; }

  header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  .section-header {
    font-size: 1.9rem;
  }
  .margin-top { margin-top: 5vw; }

  /* Secondary Nav Bar  */
  .secondary-nav {
    background-color: var(--Grey);
    font-weight: 500;
    font-size: 0.8rem;
  }

  .open-menu-icon,
  .close-menu-icon {
    display: none;
  }

  .nav-item,
  .secondary-nav,
  .nav-btn,
  .nav ul {
    display: flex;
    align-items: center;
  }

  .secondary-nav ul {
    display: flex;
    width: 80%;
    justify-content: end;
    align-items: center;
    margin: 0 auto;
  }

  .sec-nav-item {
    padding: 0.5rem;
  }

  .secondary-nav ul li:nth-child(2) { margin-right: 1rem; }

  .sec-nav-link {
    color: var(--White);
  }

  /* Navbars  */
  nav { padding: 0.3rem 0; }

  .nav {
    display: flex;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
  }

  .nav-link {
    color: var(--Grey);
    font-weight: 600;
  }

  #logo {
    display: flex;
    width: 20%;
    justify-self: flex-start;
    align-items: center;
    padding: 0.5rem;
    order: 0;
    margin-left: 0;
  }

  #logo img {
    max-width: 15.625rem;
    height: 80%;
  }

  .nav-item {
    padding: 0 1.1vw;
  }

  .nav-item:hover .nav-link {
    color: var(--Orange);
    transform: scale(1.2);
    transition: transform 0.4s ease-in-out;
  }

  .nav-item:active {
    border-bottom: 2px solid #ec5242;
  }

  .nav-btn {
    border: 0.25rem solid var(--Orange);
    background-color: #fff;
    font-weight: 800;
    font-size: 0.875rem;
    padding: 0.9vw;
    color: var(--Orange);
    margin-left: 4vw;
  }

  /* Main  */
  #intro { padding: 5vw 0; }

  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .intro-note,
  #intro .section-header,
  #intro h1,
  .intro-info {
    width: 70%;
    margin: 1vw 0;
  }

  #intro h1 {
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 4.5rem;
  }

  .intro-note {
    font-size: 1.4rem;
    border: 0.5rem solid #f8f8f8;
    font-weight: 300;
    padding: 1rem;
  }

  .content-container {
    display: flex;
  }

  #main-program .content-container { max-width: 68.75rem; }

  .program {
    flex-direction: column;
    padding: 0 0.5rem 1rem 0.5rem;
    margin: 0.5rem 0.1rem;
    width: 20%;
    justify-content: flex-start;
  }

  .program-icon,
  .program-header,
  .program-note {
    width: 100%;
    margin-top: 0.8vw;
  }

  .program-header {
    font-size: 1rem;

    /* line-height: 1rem; */
  }

  .program-note {
    line-height: 1.2rem;

    /* font-size: 0.75rem; */
    font-weight: 500;
  }

  #main-program button {
    margin: 2vw auto 5vw auto;
    width: 60%;
    max-width: 25rem;
  }

  /* Speakers  */
  #speakers .content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .speaker {
    width: 48%;
    margin-top: 1.5rem;
  }

  .speaker-image-container {
    width: 25vw;
    height: 25vw;
    max-width: 8rem;
    max-height: 8rem;
  }

  .speaker-about {
    line-height: 1rem;
    font-weight: 400;
  }

  .see-more {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .see-more-btn { display: none; }
}

@media only screen and (min-width: 1200px) {
  .intro-note,
  #intro .section-header,
  #intro h1,
  .intro-info {
    width: 60%;
  }

  #intro h1 {
    font-size: 5rem;
    font-weight: 900;
    line-height: 5rem;
  }

  .speaker-image-container {
    width: 25vw;
    height: 25vw;
    max-width: 12rem;
    max-height: 12rem;
  }

  .speaker {
    margin-top: 2rem;
  }
  #speakers .content-container { max-width: 75rem; }
}
